@media screen and (max-width: 768px) {
    
    main, aside, .bar1, .bar2, .content-background {
        width: 95% !important;
        float: none !important;
        position: static !important;
        display: block !important;
        margin: 0 auto 20px auto !important;
        box-sizing: border-box;
    }

    .sonic-image1, .sonic-image2, .instagram-icon, .github-icon, .texto_imginstagram, .logo {
        position: static !important;
        float: none !important;
        display: block !important;
        margin: 15px auto !important;
        text-align: center !important;
    }

    div {
        position: static !important;
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    p, h1, h2, h3, span {
        font-size: 14px;
        word-wrap: break-word;
    }
    img {
        max-width: 100% !important;
        height: auto !important;
    }

    .blood-image, .blood-imageright, .mii-image {
        display: none !important; 
    }

}